<form method="post" action="/folder" class="formBlockIndex">
    <h2>Create a new folder</h2>
    <div class="foldBlock">
        <label for="folder">Folder Name:</label>
        <input type="text" name="folderName" id="folder" required>
        <button type="submit">Submit</button>
    </div>
</form>