<nav>
    <div class="findBlock">
        <a href="/">Index page</a>
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Log in </a>
        <a href="/upload">Upload</a>
    </div>
</nav>