<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("partials/nav") %>
    <h1><%=title %></h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Unde esse quam perferendis, architecto sed provident
        molestiae voluptatibus atque eaque voluptates
         exercitationem dolores maxime animi cumque dignissimos
          ex nostrum aliquid laboriosam.
    </p>
</body>
</html>